/*
COLORS:

  Light green: #7ed56f
  Medium green: #55c57a
  Dark green: #28b485
 */
$test-color: blue;
$color-primary: #7ed56f;
$color-primary-light: #55c57a;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
// FONT
$base-font-size: 62.5%;
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-verticle: 8rem;
$gutter-horizontal: 6rem;

// SHADOWS
$shadow-sm: 0 1.5rem 4rem rgba($color-black, .15);
$shadow-lg: 0 2.5rem 4rem rgba($color-black, .5);

// GRADIENTS
$gradient-primary: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
$gradient-primary-transparent: linear-gradient(to right bottom, rgba($color-primary-light, .85), rgba($color-primary-dark , .85));

$gradient-secondary: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
$gradient-secondary-transparent: linear-gradient(to right bottom, rgba($color-secondary-light, .85), rgba($color-secondary-dark , .85));

$gradient-tertiary: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark);
$gradient-tertiary-transparent: linear-gradient(to right bottom, rgba($color-tertiary-light, .85), rgba($color-tertiary-dark , .85));


// LAYOUT
$base-padding: 3em;
$grid-padding: 2em;
$border-radius: 6px;

// Sidebar
$sidebar-primary-color: #ff7f50;
$sidebar-secondary-color: #50f3ff;
$sidebar-height: 94vh;
$sidebar-breakpoint-xs: 768px;
$sidebar-breakpoint-sm: 992px;
$sidebar-breakpoint-md: 1200px;
$sidebar-width: 38rem;
$sidebar-width-hidden: calc(-#{$sidebar-width} - #{$base-padding});
$sidebar__main-btn-height: 225px;

// Photo grid
$photo-grid-breakpoint: 768px;
$photo-grid-width: calc(100% - #{$sidebar-width} - #{$base-padding} - #{$base-padding});
$photo-grid-width-responsive: calc(100% - #{$base-padding});
