@import 'abstracts/variables';
@import 'abstracts/mixins';

.hero {
  background: linear-gradient(
    rgba(255, 0, 0, 0.3),
    rgba(255, 0, 0, 0.3)
  ), url('../../assets/images/_DSC5771.jpg');
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
  border: $base-padding solid white;

}
