@import 'abstracts/variables';
@import 'abstracts/mixins';

.photo-detail {
  // min-height: $photo-detail-height;
  // border:solid black 1px;

  &__image {
    height: 92vh;
    padding-bottom: $base-padding;
    object-fit: cover;
  }
}
