<div class="flex w-100">
  <div class="flex w-20">
    <div class="outline w-25 pa3 mr2">
      <code>1</code>
    </div>
    <div class="outline w-25 pa3 mr2">
      <code>2</code>
    </div>
    <div class="outline w-25 pa3 mr2">
      <code>3</code>
    </div>
    <div class="outline w-25 pa3 mr2">
      <code>4</code>
    </div>
    <div class="outline w-25 pa3">
      <code>5</code>
    </div>
  </div>
  <div class="flex w-20">
    <div class="outline w-25 pa3 mr2">
      <code>1</code>
    </div>
    <div class="outline w-25 pa3 mr2">
      <code>2</code>
    </div>
    <div class="outline w-25 pa3 mr2">
      <code>3</code>
    </div>
    <div class="outline w-25 pa3 mr2">
      <code>4</code>
    </div>
    <div class="outline w-25 pa3">
      <code>5</code>
    </div>
  </div>
  <div class="flex w-20">
    <div class="outline w-25 pa3 mr2">
      <code>1</code>
    </div>
    <div class="outline w-25 pa3 mr2">
      <code>2</code>
    </div>
    <div class="outline w-25 pa3 mr2">
      <code>3</code>
    </div>
    <div class="outline w-25 pa3 mr2">
      <code>4</code>
    </div>
    <div class="outline w-25 pa3">
      <code>5</code>
    </div>
  </div>
  <div class="flex w-20">
    <div class="outline w-25 pa3 mr2">
      <code>1</code>
    </div>
    <div class="outline w-25 pa3 mr2">
      <code>2</code>
    </div>
    <div class="outline w-25 pa3 mr2">
      <code>3</code>
    </div>
    <div class="outline w-25 pa3 mr2">
      <code>4</code>
    </div>
    <div class="outline w-25 pa3">
      <code>5</code>
    </div>
  </div>
  <div class="flex w-20">
    <div class="outline w-25 pa3 mr2">
      <code>1</code>
    </div>
    <div class="outline w-25 pa3 mr2">
      <code>2</code>
    </div>
    <div class="outline w-25 pa3 mr2">
      <code>3</code>
    </div>
    <div class="outline w-25 pa3 mr2">
      <code>4</code>
    </div>
    <div class="outline w-25 pa3">
      <code>5</code>
    </div>
  </div>
</div>
