<ngx-masonry class="photo-grid" [options]="myOptions" [useImagesLoaded]="true" [@loadGrid]>
  <ngxMasonryItem (click)="onPhotoFrameClicked(post)" DraggableDirective [appDraggable]='isDraggable' class="photo-grid__frame" *ngFor="let post of masonryItems; let i = index;" appSizePhoto>
    <img src="{{ post.imagePath }}" alt="" class="photo-grid__photo" />
    <div class="photo-grid__details">
      <h6 class="helvetica f1-l f2-m fw8 lh-solid tracked">{{ post.title }}</h6>
      <div class="f6 lh-copy">{{ post.content }}</div>
    </div>
 </ngxMasonryItem>
</ngx-masonry>
