@import 'abstracts/variables';
@import 'abstracts/mixins';

.photo-grid {
  width: $photo-grid-width;
  transition: all 0.3s;
  left: calc(#{$sidebar-width} + #{$base-padding});
  padding-left: $base-padding;
  margin-top: $base-padding;

  &__frame {
    max-width: 34%;
    text-decoration: none;
    color:#424242;
    @box-shadow: 0;
    margin-bottom: 1%;
    transition: all .3s cubic-bezier(0.25, .8, .25, 1);
    border-radius: $border-radius;

    &--width-1 {
      max-width: 12%;
    }

    &--width-2 {
      max-width: 24%;
    }

    &--width-3 {
      max-width: 48%;
    }

    &--width-4 {
      max-width: 96%;
    }

    .photo-grid__details {
      color: white;
      border-radius: $border-radius;
      height:100%;
    }

    &:hover{
      @include box_shadow(4);

      .photo-grid__details {
        color: black;
      }
    }
    &:active{
      @include box_shadow(0);

    }
  }

  // &:hover &__frame:not(:hover){
  //   opacity: .6;
  // }

  &__photo {
    border-radius: $border-radius;
    // width: 100%;
    // height: auto;
    @include img-responsive;
  }

  @media screen and (max-width: $sidebar-breakpoint) {
    margin-left: $sidebar-width-hidden;
    width: $photo-grid-width-responsive;

    &__frame {
      &--width-1 {
        max-width: 32%;
      }

      &--width-2 {
        max-width: 52%;
      }

      &--width-3 {
        max-width: 64%;
      }

      &--width-4 {
        max-width: 100%;
      }
    }
  }
}

.cursor-draggable {
  cursor: grab;
}
