@import 'abstracts/variables';
@import 'abstracts/mixins';
@import 'bootstrap/mixins/image';

$photo-grid-breakpoint: 768px;
$photo-grid-width: calc(100% - #{$sidebar-width});

.photo-grid {
  width: $photo-grid-width;
  padding: 0 $base-padding;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  left: $sidebar-width;

  &__frame {
    max-width: 34%;
    text-decoration: none;
    // padding: $base-padding;
    color:#424242;
    @include box_shadow(0);
    margin-bottom: 1%;
    transition: all .3s cubic-bezier(0.25, .8, .25, 1);
    border-radius: $border-radius;

    &--width-1 {
      max-width: 12%;
    }

    &--width-2 {
      max-width: 24%;
    }

    &--width-3 {
      max-width: 48%;
    }

    &--width-4 {
      max-width: 96%;
    }

    &:hover{
      @include box_shadow(4);
    }
  }

  &__photo {
    border-radius: $border-radius;
    width: 100%;
    height: auto;
    @include img-responsive;
  }

  &:hover &__frame:not(:hover){
    opacity: .6;
  }

  @media screen and (max-width: $sidebar-breakpoint) {
    margin-left: calc(#{$sidebar-width-hidden} + #{$base-padding});
    width: 100%;
    padding: 0 0;
  }
}
