<div class="sidebar" [@routeAnimation] [ngStyle]="{'background-color': colors.secondaryColor}">
 <div class="sidebar__main-btn sidebar__main-btn--animated br2" (click)="onChangeColors()" [ngStyle]="{'background-color': colors.primaryColor}">
     <h3 class="sidebar__heading helvetica mt0 pa4"><span class="f-subheadline lh-solid fw6 tracked" [ngStyle]="{'color': colors.textColorPrimary}">Sky</span><span class="f4 fw1 pl3 tracked-mega" [ngStyle]="{'color': colors.textColorSecondary}">PDX</span></h3>
     <p class="w-90 helvetica f3 lh-copy pl4 bl bw3" [ngStyle]="{'border-color': colors.tertiaryColor, 'color': colors.textColorPrimary}">
       "The eye is a miracle. The camera is a tool."
       <i class="dib pl3">- anonymous</i>
     </p>
     <hr class="w-75 ml4 mt4" [ngStyle]="{'border-color': colors.tertiaryColor, 'opacity': '.3' }">
     <code class="db f4 lh-copy pl4 pt3">
       Photographer & Angular developer <br>based in Vancouver, Wa.
     </code>
 </div>
 <!-- <ul class="sidebar__list pt5">
   <li class="sidebar__list-item sidebar__list-item--animated">
     <a [ngStyle]="{'color': colors.tertiaryColor}">Photography </a>
   </li>
   <li class="sidebar__list-item sidebar__list-item--animated">
     <a [ngStyle]="{'color': colors.tertiaryColor}">Web Development</a>
   </li>
   <li class="sidebar__list-item sidebar__list-item--animated">
     <a [ngStyle]="{'color': colors.tertiaryColor}">Portfolio</a>
   </li>
 </ul> -->
 </div>
