<div class="sidebar" *ngIf="state.browserIsMd || state.browserIsLg" [@routeAnimation]>
 <div class="sidebar__main-btn  br2" (click)="goBack()">
     <h3 class="sidebar__heading helvetica mt0 pa4"><span class="f-subheadline lh-solid fw6 tracked" [ngStyle]="{'color': colors.textColorPrimary}">Sky</span><span class="f4 fw1 pl3 tracked-mega" [ngStyle]="{'color': colors.textColorSecondary}">PDX</span></h3>
     <p class="w-90 helvetica f3 lh-copy pl4 bl bw3" [ngStyle]="{'border-color': 'black', 'color': colors.textColorPrimary}">
       "The eye is a miracle. The camera is a tool."
       <i class="dib pl3">- anonymous</i>
     </p>
     <hr class="w-75 ml4 mt4" [ngStyle]="{'border-color': 'black'}">
     <code class="db f4 lh-copy pl4 pt3 black">
       Photographer & Angular developer <br>based in Portland, Or.
     </code>
 </div>
  <div class="sidebar__list sidebar__main-btn--animated pt5">
   <div class="sidebar__list-item sidebar__list-item--animated tracked-tight pt3 pb3 bl  bw3" [ngStyle]="{'background-color': state.highlightArchitecture ? colors.primaryColor : colors.secondaryColor}" (click)="loadPostsByCategory(14)">
     <a class="w-90 helvetica f1 lh-copy pl4 pr4">Architecture </a>
   </div>
   <div class="sidebar__list-item sidebar__list-item--animated tracked-tight pt3 pb3 bl  bw3" [ngStyle]="{'background-color': state.highlightInteriorSpace ? colors.primaryColor : colors.secondaryColor}" (click)="loadPostsByCategory(15)">
     <a class="w-90 helvetica f1 lh-copy pl4 pr4 bw3">Interior Space </a>
   </div>
   <div class="sidebar__list-item sidebar__list-item--animated tracked-tight pt3 pb3 bl  bw3 b--black" [ngStyle]="{'background-color': state.highlightComposite ? colors.primaryColor : colors.secondaryColor}" (click)="loadPostsByCategory(16)">
     <a class="w-90 helvetica f1 lh-copy pl4 pr4">Composite </a>
   </div>
   <div class="sidebar__list-item sidebar__list-item--animated tracked-tight pt3 pb3 bl  bw3" [ngStyle]="{'background-color': state.highlightPortrait ? colors.primaryColor : colors.secondaryColor}" (click)="loadPostsByCategory(17)">
     <a class="w-90 helvetica f1 lh-copy pl4 pr4">Portrait </a>
   </div>
   <div class="sidebar__list-item sidebar__list-item--animated tracked-tight pt3 pb3 bl  bw3" [ngStyle]="{'background-color': state.highlightProduct ? colors.primaryColor : colors.secondaryColor}" (click)="loadPostsByCategory(18)">
     <a class="w-90 helvetica f1 lh-copy pl4 pr4">Product </a>
   </div>
 </div>

 <div class="sidebar__list sidebar__main-btn--animated pt7">
  <div class="sidebar__list-item sidebar__list-item--animated tracked-mega pt3 pb3 bl  bw3" [ngStyle]="{'background-color': state.highlightAbout ? colors.primaryColor : colors.secondaryColor}" (click)="loadAbout()">
    <code class="w-90  f3 lh-copy pl4 pr4">About </code>
  </div>
  <div class="sidebar__list-item sidebar__list-item--animated tracked-mega pt3 pb3 bl  bw3" [ngStyle]="{'background-color': state.highlightContact ? colors.primaryColor : colors.secondaryColor}" (click)="loadContact()">
    <code class="w-90  f3 lh-copy pl4 pr4 bw3">Contact Me </code>
  </div>
  <div class="sidebar__list-item sidebar__list-item--animated tracked-mega pt3 pb3 bl  bw3 b--black" [ngStyle]="{'background-color': state.highlightMyGear ? colors.primaryColor : colors.secondaryColor}" (click)="loadPostsByCategory(19)">
    <code class="w-90  f3 lh-copy pl4 pr4">My Gear </code>
  </div>
</div>
<!-- <div class="sidebar" [@routeAnimation] [ngStyle]="{'background-color': colors.secondaryColor}">
 <div class="sidebar__main-btn sidebar__main-btn--animated br2" (click)="onReturnToHero()" [ngStyle]="{'background-color': colors.primaryColor}">
     <h3 class="sidebar__heading helvetica mt0 pa4"><span class="f-subheadline lh-solid fw6 tracked" [ngStyle]="{'color': colors.textColorPrimary}">Sky</span><span class="f4 fw1 pl3 tracked-mega" [ngStyle]="{'color': colors.textColorSecondary}">PDX</span></h3>
     <p class="w-90 helvetica f3 lh-copy pl4 bl bw3" [ngStyle]="{'border-color': colors.tertiaryColor, 'color': colors.textColorPrimary}">
       "The eye is a miracle. The camera is a tool."
       <i class="dib pl3">- anonymous</i>
     </p>
     <hr class="w-75 ml4 mt4" [ngStyle]="{'border-color': colors.tertiaryColor, 'opacity': '.3' }">
     <code class="db f4 lh-copy pl4 pt3">
       Photographer & Angular developer <br>based in Vancouver, Wa.
     </code>
 </div> -->
 <!-- <ul class="sidebar__list pt5">
   <li class="sidebar__list-item sidebar__list-item--animated">
     <a [ngStyle]="{'color': colors.tertiaryColor}">Photography </a>
   </li>
   <li class="sidebar__list-item sidebar__list-item--animated">
     <a [ngStyle]="{'color': colors.tertiaryColor}">Web Development</a>
   </li>
   <li class="sidebar__list-item sidebar__list-item--animated">
     <a [ngStyle]="{'color': colors.tertiaryColor}">Portfolio</a>
   </li>
 </ul> -->
 </div>

<!-- DROPDOWN -->
 <div class="mt5 pl4 pr4" *ngIf="state.browserIsSm || state.browserIsXs" dropdown>
   <div class="sidebar__secondary-btn   br2 dropdown-toggle" dropdownToggle (click)="toggledDropdown()">
       <h3 class="sidebar__heading helvetica mt0 pa4"><span class="f-subheadline lh-solid fw6 tracked" [ngStyle]="{'color': colors.textColorPrimary}">Sky</span><span class="f4 fw1 pl3 tracked-mega" [ngStyle]="{'color': colors.textColorSecondary}">PDX</span></h3>
       <hr class="w-75 ml4 mt4" [ngStyle]="{'border-color': 'black'}">
       <code class="db f4 lh-copy pl4 pt3 black">
         Photographer & Angular developer <br>based in Portland, Or.
       </code>
       <code class="db helvetica f2 lh-copy tc pt4 b tracked-mega black">
         MENU
       </code>
   </div>
   <ul *dropdownMenu class="dropdown-menu"  [ngStyle]="{'display': state.isDroppeddown ? 'block' : 'none'}" >
       <div class="sidebar__list ">
        <div class="sidebar__list-item sidebar__list-item--animated tracked-tight pt3 pb3 bl  bw3" [ngStyle]="{'background-color': state.highlightArchitecture ? colors.primaryColor : colors.secondaryColor}" (click)="loadPostsByCategory(14)">
          <a class="w-90 helvetica f2 lh-copy pl4 pr4">Architecture </a>
        </div>
        <div class="sidebar__list-item sidebar__list-item--animated tracked-tight pt3 pb3 bl  bw3" [ngStyle]="{'background-color': state.highlightInteriorSpace ? colors.primaryColor : colors.secondaryColor}" (click)="loadPostsByCategory(15)">
          <a class="w-90 helvetica f2 lh-copy pl4 pr4 bw3">Interior Space </a>
        </div>
        <div class="sidebar__list-item sidebar__list-item--animated tracked-tight pt3 pb3 bl  bw3 b--black" [ngStyle]="{'background-color': state.highlightComposite ? colors.primaryColor : colors.secondaryColor}" (click)="loadPostsByCategory(16)">
          <a class="w-90 helvetica f2 lh-copy pl4 pr4">Composite </a>
        </div>
        <div class="sidebar__list-item sidebar__list-item--animated tracked-tight pt3 pb3 bl  bw3" [ngStyle]="{'background-color': state.highlightPortrait ? colors.primaryColor : colors.secondaryColor}" (click)="loadPostsByCategory(17)">
          <a class="w-90 helvetica f2 lh-copy pl4 pr4">Portrait </a>
        </div>
        <div class="sidebar__list-item sidebar__list-item--animated tracked-tight pt3 pb3 bl  bw3" [ngStyle]="{'background-color': state.highlightProduct ? colors.primaryColor : colors.secondaryColor}" (click)="loadPostsByCategory(18)">
          <a class="w-90 helvetica f2 lh-copy pl4 pr4">Product </a>
        </div>
      </div>

       <div class="sidebar__list pt2">
        <div class="sidebar__list-item sidebar__list-item--animated tracked-mega pt3 pb3 bl  bw3" [ngStyle]="{'background-color': state.highlightAbout ? colors.primaryColor : colors.secondaryColor}" (click)="loadAbout()">
          <code class="w-90  f4 lh-copy pl4 pr4">About </code>
        </div>
        <div class="sidebar__list-item sidebar__list-item--animated tracked-mega pt3 pb3 bl  bw3" [ngStyle]="{'background-color': state.highlightContact ? colors.primaryColor : colors.secondaryColor}" (click)="loadContact()">
          <code class="w-90  f4 lh-copy pl4 pr4 bw3">Contact Me </code>
        </div>
        <div class="sidebar__list-item sidebar__list-item--animated tracked-mega pt3 pb3 bl  bw3 b--black" [ngStyle]="{'background-color': state.highlightMyGear ? colors.primaryColor : colors.secondaryColor}" (click)="loadPostsByCategory(19)">
          <code class="w-90  f4 lh-copy pl4 pr4">My Gear </code>
        </div>
      </div>

   </ul>
 </div>
