<div class="photo-detail">
  <div class="flex justify-center w-100-ns w-75-l ml7-l mr7-l">
    <div class="outline w-25 pa3 mr2 white flex justify-center f3">
      <h3 class="helvetica pr1"><span class="f5-ns f-subheadline-l fw6 tracked">Sky</span><span class="f4 fw1 pl3 tracked-mega">PDX</span></h3>
    </div>
    <div class="outline w-25 pa3 mr2 white flex justify-center items-center f3-l f5-ns" [ngStyle]="{ 'filter': 'contrast(200%)' }">
      <code>About</code>
    </div>
    <div class="outline w-25 pa3 mr2 white flex justify-center items-center f3-l f5-ns"  [ngStyle]="{ 'filter': 'contrast(200%)' }" (click)="test()">
      <code>Portfolio</code>
    </div>
    <div class="outline w-25 pa3 mr2 white flex justify-center items-center f3-l f5-ns" [ngStyle]="{ 'filter': 'contrast(200%)' }">
      <code>Contact</code>
    </div>
    <div class="outline w-25 pa3 white flex justify-center items-center f3-l f5-ns" [ngStyle]="{ 'filter': 'contrast(200%)' }">
      <code>My Gear</code>
    </div>
  </div>
</div>
