<div class="photo-detail  h-25" style="border:solid white 2px;">
  <div class="flex justify-center w-75 ml7 mr7">
    <div class="outline w-25 pa3 mr2 white flex justify-center">
      <code>Home</code>
    </div>
    <div class="outline w-25 pa3 mr2 white flex justify-center">
      <code>About</code>
    </div>
    <div class="outline w-25 pa3 mr2 white flex justify-center" (click)="test()">
      <code>Portfolio</code>
    </div>
    <div class="outline w-25 pa3 mr2 white flex justify-center">
      <code>Contact</code>
    </div>
    <div class="outline w-25 pa3 white flex justify-center">
      <code>My Gear</code>
    </div>
  </div>
</div>
